:root {
   --cor-primaria: #183c63;
   --cor-segundaria: #3a638e;
   --cor-fundo: #ffffff;
   --cor-texto: #151428;
   --cor-constraste: #f3eef7;
   --cor-botao: #f9f9f9;
   --cor-border: rgb(0, 255, 34);

   --fonte-texto:'Segoe UI', sans-serif;
}

*{
    transition: background-color 0.3s ease;
}

.tema-escuro{
   --cor-primaria: #537191;
   --cor-segundaria: #1a4574;
   --cor-fundo: #161515;
   --cor-texto: #cccbdd;
   --cor-constraste: #0f0f0f;
   --cor-botao: #131111;
}

.tema-escuro a {
    color: var(--cor-segundaria);
}

.tema-escuro p {
    color: var(--cor-texto)
}

.tema-escuro header p {
    color: var(--cor-constraste);
}

body {
    max-width: 100vw;
    font-family: var(--fonte-texto);
}

header{
     background-color:var(--cor-primaria);
    color: var(--cor-constraste);
    text-align: center;      
    margin: 0 auto;
    padding: 16px;
    border: 5px solid var(--cor-border);
}

main {
    background-color: var(--cor-fundo);
    color:var(--cor-primaria);
    margin: 0 auto;
    padding: 16px;
    display: flex;
    flex-wrap: wrap;
}

article{
    display: flex;
    box-shadow:0 2px 6px rgba(0, 0, 0, 0.3);


    margin: 16px;
    gap:16px;
    padding: 16px;
    flex: 1 1 25%;

    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}
        
img{
    width: 80px;
    height: 80px; 
}

.artigo-autor {
    font-weight: bold;
}